<!DOCTYPE html>
<html>
  <head>
    <%-include("../components/head")%>
    <script src="https://cdn.jsdelivr.net/gh/enderkingj/ruffle/ruffle.js"></script>
  </head>
  <body>
    <%-include("../components/nav")%>

    <%-include("../components/game")%>
    
    <%-include("../components/footer")%>
  </body>
</html>